body{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	overflow-x: hidden;
    margin-top: 0px;
}
a:visited, 
a:link, 
a:hover, 
a:active{
    text-decoration: none;
}
.snow{
  width: 32px;
  height: 32px;
  background-image: url(../img/snow.png);
  display: inline-block;
  vertical-align: middle;
}
.snow-item:hover .snow{
  background: url(../img/snow-hover.png);
}
.valentine{
  width: 32px;
  height: 32px;
  background-image: url(../img/valentine.png);
  display: inline-block;
  vertical-align: middle;
}
.valentine-item:hover .valentine{
  background: url(../img/valentine-hover.png);
}
.navbar-default{
	background-color: #628981;
}
#top-navbar{
	height: 115px;
}
#top-navbar a{
	font-size: 24px;
	color: #fff;
}

#top-navbar img {
	margin-right: 10px;
}
#top-navbar li{
	top:30%;
	padding: 0 40px;
	border-right: 3px solid #fff;
}
#top-navbar li:last-child{
	border-right: none;
}
.navbar{
	margin-bottom:0px;
	border:none;
	border-radius: none;
}
@media (min-width: 768px){
	.navbar {
	    border-radius:0}
}

.cf-bg{
	background-image: url(../img/bg-3.jpg);
	background-color: #fbfbfb;
	position: relative;
	z-index: 2;
}
.relative-container{
	position: relative;
	z-index: 1;
}
.left-img,
.right-img,
.left2-img,
.right2-img,
.left3-img,
.right3-img{
	display: none;
	position: absolute;
}

.left-img{
	top:2px;
}
.left2-img{
	top:810px;
}
.left3-img{
	top:30px;
}
.right-img{
	top:40px;
}
.right2-img{
	top:775px;
}
.right3-img{
	top:30px;
}

@media (min-width: 1000px){
	.left3-img{
		display: inline-block;
		left: -34%;
	}
	.right3-img{
		display: inline-block;
		right: -32%;
	}
}
@media (min-width: 1200px){
	.left3-img{
		display: inline-block;
		left: -20%;
	}
	.right3-img{
		display: inline-block;
		right: -22%;
	}
}
@media (min-width: 1300px) { 
	.left-img{
		display: inline-block;
		left: -16%;
	}
	.right-img{
		display: inline-block;
		right: -15%;
	}
	.left2-img{
		display: inline-block;
		left: -7%;
	}
	.right2-img{
		display: inline-block;
		right: -18%;
	}
}
@media (min-width: 1550px) { 
	.left-img{
		left: -10%;
	}
	.right-img{
		right: -4%;
	}
	.left2-img{
		left: 0%;
	}
	.right2-img{
		display: inline-block;
		right: -8%;
	}	
}

h2{
	font-size: 48px;
	color:#628981;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.AboutUs h2{
	margin-top: 60px;
	margin-bottom: 40px;
}

.wrapper img{
	display: inline-block;
}

.au-item {
	margin-top: 10px;
	text-transform: uppercase;
	height: 164px;
    font-size: 22px;
}

.wrapper p{
	margin-top: 10px;
}
.wrapper{
    margin-bottom: 20px;
}
@media (min-width: 992px) { 
	.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center{
	border-right: 2px solid #628981;
	}
	.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center.last-wrapper{ 
		border-right: none;
	}
	
}

.About-Us-Description ul{
}
.About-Us-Description li{
    list-style-type:none;
}
.About-Us-Description{
	margin-top: 30px;
	margin-bottom: 0px;
}
.list-container{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    
}
.list-container li{
    line-height: 1.2;
}
.list-container ul{
    margin: 0 auto;
    max-width: 620px;;
}
@media screen and (max-width: 500px){
    .list-container li{
    margin-bottom: 10px;
}
}
.list-container p{
    display: inline;
}
.About-Us-Description span{
	font-size: 20px;
}

.About-Us-Description p,
.Our-Services p{
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}
.Our-Services h2{
    margin-top:60px;
}
@media (max-width: 768px) { 
	.About-Us-Description{
		margin-top: 0px;
	}
}
.view-catalog-btn:visited, 
.view-catalog-btn:link, 
.view-catalog-btn:hover, 
.view-catalog-btn:active{
    text-decoration: none;
    color: #fff;
}
.view-catalog-btn{
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
	background-color: #628981;
	padding: 10px;
	/*margin:0 auto;*/
	/*margin-top: 35px;
	margin-bottom: 62px;*/
	width: 360px;
}
.dropdown,
.dropup{
    display: inline-block;  
}
.dropdown-wrapper{
    margin-top: 20px;
    margin-bottom: 50px;
}
.for-wholesalers .dropdown-wrapper{
    margin-bottom: 75px;
}
.dropdown ul,
.dropup ul{
    min-width: 360px;
    font-size: 26px;
    text-align: center;
    background-color: #628981;
    
}
.dropdown li a,
.dropup li a{
    color:#fff;
}
.dropdown li a:hover,
.dropup li a:hover,
{
    color:#628981;
}
.dropdown li,
.dropup li{
    border-bottom:1px solid #506d67;
}
.dropdown li:last-child,
.dropup li:last-child{
    border-bottom:none;
}
@media screen and (max-width: 500px){
    .view-catalog-btn{
        font-size: 17px;
        padding: 5px;
        width: 250px;
    }
    .view-catalog-btn img{
        width: 25px;
    }
    .dropdown ul,
    .dropup ul{
    min-width: 250px;
    font-size: 22px;
    }
}
@media screen and (min-width:500px) and (max-width: 768px){
    .view-catalog-btn{
        font-size: 20px;
        padding: 5px;
        width: 300px;
    }
    .view-catalog-btn img{
        width: 30px;
    }
    .dropdown ul,
    .dropup ul{
    min-width: 300px;
    font-size: 26px;
    }
}
.view-catalog-btn:hover{
	text-decoration: none;
	color: #fff;
	background-color: #52706a;
}
.view-catalog-btn a:visited{
	text-decoration: none;
}
.photo-block > .container-fluid{
	padding: 0px;
}

.photo-block img{
	display: block;
	float: left;
	width: 20%;
	max-width: 384px;
}
.sales-wrapper{
	text-align: center;
	margin-bottom: 15px;
}
.sales-box{
	display: inline-block;
	padding:20px 50px;
	border-top:2px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
}
.for-wholesalers h2{
	margin-top:80px;
	margin-bottom: 0;
}

.for-wholesalers p{
	text-align: center;
	font-size: 24px;
}
.discount-separator{
	margin-left: 35px;
	margin-right: 35px;
	font-size: 32px;
	font-weight: bold;
	color:#628981;
	text-transform: uppercase;
}

.highlighted-word{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color:#628981;
}

/* Creation Process*/
.cp-bg{
	background-image: url(../img/bg-9.jpg);
	background-color: #70948c;
}
.creation-process h2,
.creation-process p{
	color:#fff;
	text-align: center;
}
.creation-process{
	padding-bottom: 30px;
}
.creation-process h2{
	margin-top:57px;
	margin-bottom: 30px;
}

@media screen and (max-width: 450px){
    .item-image img{
        width: 90%;
    }

}
@media screen and (max-width: 768px){
    .item-description img{
        width: 60px;
    }
    .au-item p{
        font-size: 20px;
    }
    .au-item img{
        height: 75px;
    }
    .carousel-indicators{
        bottom: -10px;
    }
    .carousel-indicators li{
        width:5px;
        height: 5px; 
    }
    .carousel-indicators li.active{
        width:8px;
        height: 8px; 
    }
}

.item-line{
	margin-top: 40px;
	vertical-align: middle;
}
.item-description{
	margin-top: 50px;
}
.item-description p{
margin-top:15px; 
}
/* /Creatinon Process*/

.oc-bg{
	background-image: url(../img/bg-3.jpg);
	background-color: #fbfbfb;
}
.our-contacts{
	margin-top:35px; 
}
.our-contacts h2{
	font-size: 36px;
	font-weight: bold;
	color: #628981;
	text-transform: uppercase;
}
.contacts-box{
	margin-top: 25px;
}

.contacts-box .view-catalog-btn{
    display: block;
    margin:0 auto;*/
	margin-top: 35px;
	margin-bottom: 62px;
    margin-top: 20px;
    padding: 15px;
}
.contacts-cat{
	padding-top: 55px;
}



.mobile-menu{
    display: none;
    background-color: #628981;
    text-align: center;
    height: 60px;
}
.mobile-menu img{
    margin-top: 6px;
}

@media only screen and (max-width: 1170px){
    .mobile-menu{
    display: block;
    }
    body{
         margin-top: 60px;
    }
}

.navbar-fixed-top{
    z-index: 3;
}
.carousel-indicators{
    z-index: 2;
}
.fb{
    display: block;
    width: 50px;
    height: 50px;
    background:url(../img/facebook.png);
    margin: 0 auto;
}
.menu1{
    height: 80%;
}
@media only screen and (max-width: 768px){
    h2{
        font-size: 38px;
    }
    .AboutUs h2{
        margin-bottom: 10px;
    }
    .About-Us-Description p:first-child{
        margin-top: 20px;
    }
    .sales-box{
        padding: 15px;
    }
    .for-wholesalers h2{
        margin-top: 30px;
    }
    .sales-box img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .creation-process h2{
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 1170px){
    .menu1{
        display: none;
    }
}

/* CallBack Modal Window*/
.our-contacts .input-group{
    margin:15px 20px;
    
}
.callback-description{
    font-size: 20px;
    line-height: 1.2;
} 

.view-catalog-btn .glyphicon{
    top:4px;
    right: 10px;
}
.modal-dialog .view-catalog-btn{
    margin-bottom: 35px;
}

.modal-dialog .btn{
    float: right;
    width: 45px;
    height: 35px;
}
.modal-title{
    margin-top: 5px;
    font-size: 18px;
}
.modal-header{
    background-color: #628981;
    color: #fff;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* /CallBack Modal Window*/


/*HOVER EFFECT*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	width: 20%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	max-width: 384px;
	opacity: 1;
}

.grid figure figcaption {
	padding: 1em;
    padding-top: 40%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 3px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.5;
}

/* Media queries */
@media screen and (max-width: 992px){    
    .grid figure figcaption {
        font-size: 22px;
    }
    .grid figure {
		display: inline-block;
		margin: 0px;
		width: 50%;
	}
}
/*/HOVER EFFECT*/

/*MAIN MENU*/
/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
}

a {
  color: #f5484a;
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */


.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    /*margin-top: 70px;*/
  }
}
/*
@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}*/
/* -------------------------------- 

Navigation

-------------------------------- */
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #030d18;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 23px 0 0 5%;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
  }
}

.cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #030d18;
  }
}

/* -------------------------------- 

Intro

-------------------------------- */
#cd-intro {
}

#cd-intro h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #030d18;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  #cd-intro {
  }
  #cd-intro #cd-intro-tagline {
  }
  #cd-intro h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-intro {
  }
  #cd-intro #cd-intro-tagline {
  }
}

.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: rgba(245, 72, 74, 0.9);
  margin-top: 1em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
.no-touch .cd-btn:hover {
  background-color: #f5484a;
}
@media only screen and (min-width: 1170px) {
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-secondary-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 300px;
  right: 29px;
  top: 30px;
  border-radius: 0.25em;
  background: rgba(57, 107, 97, 0.98);

  visibility: hidden;
  z-index: 101;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
  list-style: none;
  padding-left: 0px;
}

.cd-secondary-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

.cd-secondary-nav li a {
  display: block;
  padding: 12px;
  border-bottom: 1px solid #f0eee1;
  color: #f0eee1;
  list-style-type: none;
}

.cd-secondary-nav li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav {
    z-index: 30;
    height: 100px;
    background-color: rgba(98, 137, 129, 0.96);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .cd-secondary-nav nav, .cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
    height: 100%;
  }
  .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
    
  .cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 35px 25px 0 25px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.7);
  }
  .cd-secondary-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../img/cd-nav-icons.svg);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-secondary-nav li a:hover b, .cd-secondary-nav li a.active b {
    color: #f0eee1;
  }
  .cd-secondary-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  .cd-secondary-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  .cd-secondary-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  .cd-secondary-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  .cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
  }
  .cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .cd-secondary-nav.animate-children li a {
    padding: 13px 30px 0 30px;
  }
  .cd-secondary-nav.animate-children li a span {
    opacity: 0;
  }
}

.cd-secondary-nav-trigger {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  /*white btn background: rgba(255, 255, 255, 0.95)*/
  /*dark btn background: rgba(62, 82, 78, 0.96);*/
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 102;
}
.cd-secondary-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
    /*for dark btn background: #f0eee1;*/
    /*for dark btn background: #628981;*/
  background: #628981;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-secondary-nav-trigger span::before, .cd-secondary-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cd-secondary-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger.menu-is-open {
  background: #3e524e;
}
.cd-secondary-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.cd-secondary-nav-trigger.menu-is-open span::before, .cd-secondary-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.cd-secondary-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-secondary-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
}

/* -------------------------------- 

Placeholder Sections
-------------------------------- */
@media only screen and (max-width:1170px){
    
    #cd-placeholder-2{
    margin-top:10px;
    }
}
#cd-placeholder-3{
    margin-top:-10px;
}
#cd-placeholder-3{
    margin-top:-10px;
}
/*MAIN MENU*/


